body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:50px;
    margin-left:50px;
    background-color: #ccc;
  }
  .zawartosc60 {
    width:60%;
  }
  header {
    background-color: #333;
    color: #fff;
    width:100vw;
    padding: 10px;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    padding: 0px;
    background-color: #333;
    color: #fff;
  }
  nav{
    width: 100%;
  }
  nav ul {
    list-style: none;
    margin: 0;
    width:100%;
    padding: 0;
    display:flex;
    justify-content:center;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  header .cta {
    float: left;
    width: 33%;
    text-align: right;
  }
  
  main {
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  ul {
    padding-left: 20px;
  }
  .gallery-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .gallery-row:nth-child(2) a:nth-child(-n+3) {
    margin-bottom: 20px;
  }
  
  .gallery-row a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .gallery-row a span {
    margin-top: 10px;
  }
  .gallery img {
    width: 400px;
    height: 250px;
    margin-right: 10px;
    animation: imageAnimation 1s infinite alternate;
  }
  
  @keyframes imageAnimation {
    0% {
      transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width:100vw;
  }
  p{
    font-size: 20px;
  }
.image1{
width: 40%;
margin-right:50px;
}
.image2{
width: 40%;
margin-left:50px;
}
nav{
  background-color: #777;
  padding: 10px;
}
nav ul {
list-style: none;
overflow: hidden;
margin: 0;
  padding: 0;
}
nav li{
  float: left;
}
nav li a {
display: block;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
   transition: color 0.8s ease; 
}
nav li a:hover {
  background-color: #555;
}
a:visited{
  color: #888;
}
a:link{
  color: #999;
}
a:hover{
  color: #533;
}
.center{
  text-align:center;
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
